@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>DigitalCar</h1>
        <p class="lead">DigitalCar é uma empresa de frotas de veiculos....</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Historia</h2>
        <p>
            
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Objetivo</h2>
        <p>.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Futuro</h2>
        <p></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>